{% extends 'Core/base.html' %}

{% block content %}
        
{% if request.user.is_authenticated %}
<section class="about-section text-center" id="about"
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h3>
                    <h5 class="card-title">@{{ user.username | upper }}</h5>
                    <p class="card-text mt-3">{{ user.profile.biografia }}</p>
                    <a href={% url 'logout' %} class="btn btn-sm btn-success">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}
{% endblock %}